doctype html
html
head
title=title

body
 form(action="/uploader" method="post" enctype="multipart/form-data")
    name(input type="text" name="username")
    p
    input(type="file" name="myfile")
    input(type="submit" value="Upload")

    //div(x`name="result");